<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="aws.apps.wifiKeyRecovery"
    android:versionCode="8"
    android:versionName="0.0.8">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".components.main.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".components.export.ExportActivity"/>
        <activity
            android:name=".components.details.WifiDetailsActivity"
            android:label="@string/title_activity_wifi_details"
            android:parentActivityName=".components.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".components.main.MainActivity"/>
        </activity>
    </application>

</manifest>
